#box1.box.blurred-bg.tinted
  link(rel='stylesheet', href='/stylesheets/style.css')
  .content
    h1 Blurred Background
    h2
      | By 
      a(href='http://ariona.net', rel='follow', target='_blank') Ariona, Rian
    p Drag this box to move around
    p.related
      | See also: 
      a(href='http://codepen.io/ariona/details/LVZLGP/', target='_blank') Staged Dropdown Animation
