extends layout

block content
  script(type='text/javascript').
    setAuth("#{username}");
  .menu-bar
    button.hamburger ☰
    span.menu-list
      a(href='/')
        p.menu-bar-item.first Home
      a(href='/buyasset')
        p.menu-bar-item Purchase an Asset
      a(href='/tradeasset')
        p.menu-bar-item Open a Trade
      a(href='/lookup')
        p.menu-bar-item Lookup Users/Assets
      a(href='/myassets')
        p.menu-bar-item My Assets
      a(href='/mytrades')
        p.menu-bar-item My Trades
      a(href='/myaccount')
        p.menu-bar-item My Account
    a(href='/')
      span.menu-bar-item.first Home
    a(href='/buyasset')
      span.menu-bar-item Purchase an Asset
    a(href='/tradeasset')
      span.menu-bar-item Open a Trade
    a(href='/lookup')
      span.menu-bar-item Lookup Users/Assets
    a(href='/myassets')
      span.menu-bar-item My Assets
    a(href='/mytrades')
      span.menu-bar-item My Trades
    a(href='/myaccount')
      span.menu-bar-item My Account
  
  .h1 Start your domain name search
  .flexsearch
  .flexsearch--wrapper
    form.flexsearch--form(action='#', method='post')
      .flexsearch--input-wrapper
        input.flexsearch--input(type='search', placeholder='Type the one you want to get')
      |  
      input.flexsearch--submit(type='submit', value='➜')