extends layout

block content
  script(type='text/javascript').
    setAuth("#{username}");
  
  .h1 Start your domain name search
  .flexsearch
  .flexsearch--wrapper
    form.flexsearch--form(action='#', method='post')
      .flexsearch--input-wrapper
        input.flexsearch--input(type='search', placeholder='Type the one you want to get')
      |  
      input.flexsearch--submit(type='submit', value='➜')