doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-3.0.0.min.js')
    script(src='/javascripts/checker.js')
  body
    #navPanel
      #logo #{title}
      #whoAmI
        a(href='#')
          span.menu-bar-item Hi! #{username}
        a(href='/logout')
          span.menu-bar-item Logout
    .menu-bar
      button.hamburger ☰
      span.menu-list
        a(href='/')
          p.menu-bar-item.first Home
        a(href='/buyasset')
          p.menu-bar-item Purchase an Asset
        a(href='/tradeasset')
          p.menu-bar-item Open a Trade
        a(href='/lookup')
          p.menu-bar-item Lookup Users/Assets
        a(href='/myassets')
          p.menu-bar-item My Assets
        a(href='/mytrades')
          p.menu-bar-item My Trades
        a(href='/myaccount')
          p.menu-bar-item My Account
      a(href='/')
        span.menu-bar-item.first Home
      a(href='/buyasset')
        span.menu-bar-item Purchase an Asset
      a(href='/tradeasset')
        span.menu-bar-item Open a Trade
      a(href='/lookup')
        span.menu-bar-item Lookup Users/Assets
      a(href='/myassets')
        span.menu-bar-item My Assets
      a(href='/mytrades')
        span.menu-bar-item My Trades
      a(href='/myaccount')
        span.menu-bar-item My Account
  
    block content
