doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-3.0.0.min.js')
    script(src='https://github.com/kswedberg/jquery-smooth-scroll/blob/master/jquery.smooth-scroll.min.js')
    script(src='/javascripts/checker.js')
  body

    #navPanel
      #logo #{title}
      #login
      a#logintop(href="/login")
        span.menu-bar-item Login
      a#regtop(href='/register')
        span.menu-bar-item Register
      
    

  
    block content
