extends layout

block content
  script(type='text/javascript').
    setAuth("#{username}");
    $('#logintop').hide();


  .container
    h2 Welcome
    form(method='POST' id='loginAccountForm' action='#')
        label Username:
        input.form-control(type='text' name='username' placeholder='Enter Username' autofocus)
        label Password:
        input.form-control(type='password' name='password' placeholder='Enter Password')
        button.btn(type='submit') Login
        a.btn(href='/register' style='float: right; color: black') Register
        span.needAccount Need a new account?
        