extends layout

block content
  script(type='text/javascript').
    setAuth("#{username}");
  .menu-bar
    a(href='/')
      span.menu-bar-item.first Home
    a(href='/buyasset')
      span.menu-bar-item Purchase an Asset
    a(href='/tradeasset')
      span.menu-bar-item Open a Trade
    a(href='/lookup')
      span.menu-bar-item Lookup Users/Assets
    a(href='/myassets')
      span.menu-bar-item My Assets
    a(href='/mytrades')
      span.menu-bar-item My Trades
    a(href='/myaccount')
      span.menu-bar-item My Account
  .container.large
    .container-lookup
      h2 Lookup an User
      form(method='post', id='lookupUserForm', action='#')
        label(for="username") Username:
        input.form-control(type='text', name='username', placeholder='Enter an Username')
        input.btn(type='submit', value='Lookup')
      #LookupUserResults.resultBox
    .container-lookup
      h2 Lookup an Asset
      form(method='post', id='lookupAssetForm', action='#')
        label(for="asset") Asset Tag:
        input.form-control(type='text', name='asset', placeholder='Enter an Asset Tag')
        input.btn(type='submit', value='Lookup')
      #LookupAssetResults.resultBox
    .container-lookup
      h2 Lookup Assets by User
      form(method='post', id='lookupAssetUsersForm', action='#')
        label(for="username") Username:
        input.form-control(type='text', name='username', placeholder='Enter an Username')
        input.btn(type='submit', value='Lookup')
      #LookupUsersAssetResults.resultBox