extends layout

block content
    script.
        $('#regtop').hide();


    .menu-bar
        button.hamburger ☰
        span.menu-list
            a.menu-bar-link(href='/')
                p.menu-bar-item.first Home
            a.menu-bar-link(href='/buy')
                p.menu-bar-item Purchase a Domain
            a.menu-bar-link(href='/transfer')
                p.menu-bar-item Open a Trade
            a.menu-bar-link(href='/')
                p.menu-bar-item Search
            a.menu-bar-link(href='/mydomains')
                p.menu-bar-item My Domains
            a.menu-bar-link(href='/mytrades')
                p.menu-bar-item My Trades
            a.menu-bar-link(href='/myaccount')
                p.menu-bar-item My Account
        a(href='/')
            span.menu-bar-item.first Home
        a(href='/buy')
            span.menu-bar-item Purchase a Domain
        a(href='/transfer')
            span.menu-bar-item Open a Trade
        a(href='/')
            span.menu-bar-item Search
        a.menu-bar-link(href='/mydomains')
            span.menu-bar-item My Domains
        a(href='/mytrades')
            span.menu-bar-item My Trades
        a.menu-bar-link(href='/myaccount')
            span.menu-bar-item My Account
    .container
        h2 Register
        form(action='/register', method='post', id='createAccountForm' )
            label Email:
            input.form-control(type='text' name='email' placeholder='Enter email address' autofocus)
            label Password:
            input.form-control(type='password' name='password' placeholder='Enter Password')
            input.form-control(type='password' name='passwordCheck' placeholder='Re-enter Password')
            button.btn(type='submit') Register
            a.btn(href='/login' style='float: right; color: black') Sign in
            span.needAccount Already have an account?
        a.btn(href='/keys', target='_blank', style='margin-top: 20px; width: 95%; color: black;') Generate Keys
