extends layout

block content
  script(type='text/javascript').
    setAuth("#{username}");
  
  .h1 Domain Search
  .flexsearch
  .flexsearch--wrapper
    form.flexsearch--form(action='/searchd', method='post')
      .flexsearch--input-wrapper
        input.flexsearch--input(type='search', placeholder='www.example.com', name='lookupd')
      |  
      input.flexsearch--submit(type='submit', value='➜')


       
  .h1 User Search
  .flexsearch
  .flexsearch--wrapper
    form.flexsearch--form(action='searchu', method='post')
      .flexsearch--input-wrapper
        input.flexsearch--input(type='search', placeholder='i.e. Siddarth Parikh', name="lookupu")
      |  
      input.flexsearch--submit(type='submit', value='➜')