extends layout

block content
  script(type='text/javascript').
    setAuth("#{username}");
  

  .menu-bar
     button.hamburger ☰
     span.menu-list
       a.menu-bar-link(href='/')
         p.menu-bar-item.first Home
       a.menu-bar-link(href='/buy')
         p.menu-bar-item Purchase a Domain
       a.menu-bar-link(href='/transfer')
         p.menu-bar-item Open a Trade
       a.menu-bar-link(href='/search')
         p.menu-bar-item Search
       a.menu-bar-link(href='/mydomains')
         p.menu-bar-item My Domains
       a.menu-bar-link(href='/mytrades')
         p.menu-bar-item My Trades
       a.menu-bar-link(href='/myaccount')
         p.menu-bar-item My Account
     a(href='/')
       span.menu-bar-item.first Home
     a(href='/buy')
       span.menu-bar-item Purchase a Domain
     a(href='/transfer')
       span.menu-bar-item Open a Trade
     a(href='/search')
       span.menu-bar-item Search
     a.menu-bar-link(href='/mydomains')
       span.menu-bar-item My Domains
     a(href='/mytrades')
       span.menu-bar-item My Trades
     a.menu-bar-link(href='/myaccount')
       span.menu-bar-item My Account

  .h1 Domain Search
  .flexsearch
  .flexsearch--wrapper
    form.flexsearch--form(action='/searchd', method='post', id='searchd')
      .flexsearch--input-wrapper
        input.flexsearch--input(type='search', placeholder='www.example.com', name='lookupd')
      |  
      input.flexsearch--submit(type='submit', value='➜')


       
  .h1 User Search
  .flexsearch
  .flexsearch--wrapper
    form.flexsearch--form(action='searchu', method='post')
      .flexsearch--input-wrapper
        input.flexsearch--input(type='search', placeholder='i.e. Siddarth Parikh', name="lookupu")
      |  
      input.flexsearch--submit(type='submit', value='➜')